* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    /* font-size: 14px; */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  /* h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  } */
/* ================================================== */
body {
  background-color: #555;
}
.yellow {
  color: yellow;
}
hr {
  margin: 20px 20px;
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: yellow;
  height: 1px;
}


/* =================================================== */

body.scroll-lock {
	overflow: hidden;
}

.wrapper {
	padding: 30px;
}

li {
	list-style: none;
}

h1 {
	margin: 0px 0px 20px 0px;
	line-height: 150%;
}
h2 {
	margin: 0px 0px 15px 0px;
}

.button {
	padding: 15px;
	font-size: 16px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
	cursor: pointer;
	background-color: rgb(231, 231, 0);
}

.yellow {
	color: rgb(231, 231, 0);
}
.lesson {
	padding: 30px 0px 0px 0px;
}
.lesson__text {
	color: #fff;
	font-size: 18px;
	line-height: 150%;
}
.lesson__text p:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.lesson__selected {
	background-color: #794f45;
	padding: 15px;
	color: #fff;
}
.lesson__block {
	margin: 0px auto;
	width: 500px;
	height: 300px;
	padding: 15px;
	border: 20px solid #7a956b;
	background-color: #794f45;
	overflow: auto;
	font-size: 20px;
	line-height: 150%;
}

.lesson__item {
	display: inline-block;
	background-color: #794f45;
	padding: 15px;
	color: #fff;
}